{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans 'My cafe' %}</title>
</head>
<body style="background-color: #5050ff">
    {% for menu_item in menu_items %}
            {% include 'menu/menu_cardview.html' with menu_item=menu_item %}
    {% endfor %}

</body>
</html>